$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


/*
 * Style Imports
 */
@import "mixins";
@import "bootstrapOverwrites";
@import "home";
@import "about";
@import "work";
@import "contact";


/*
 * Global Styles
 */
#body-wrapper{
  position: absolute;
  top:100%;
  left:0;
  right:0;

  .sections-wrapper {
    position:relative;
    width:80%;
    left:50%;
    margin-left: -40%;
  }

}
.section-footer {
  width: 100% !important;
  background: #808080;
  padding: 30px;
  ul {
    width: 312px;
    margin: 0 auto !important;
    li {
      list-style-type: none;
      display: inline-block;
      margin: 12px;
      padding: 10px;
      font-size: 12px;
      background-color: #696969;
      border-radius: 50%;
      i {
        color: #F4F4F4;
        inherit: #F4F4F4;
      }
    }
  }

  .copywright {
    width: 160px;
    margin: 0 auto;
    color: #F4F4F4;
  }
}

.hidden {
  display: none;
}

@media only screen and (max-width: 500px) {
    .sections-wrapper {
      position: static;
      width: 100%;
      left: 0;
      margin-left: 0;
    }
    .sub-footer {
     height: 370px !important;
    }
  }

