$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


/*
 * Style Imports
 */
@import "mixins";
@import "bootstrapOverwrites";
@import "home";
@import "about";
@import "work";
@import "contact";


/*
 * Global Styles
 */
#body-wrapper{
  position: absolute;
  top:100%;


  .sections-wrapper {
    position:relative;
    background:lightblue;
    width:80%;
    left:50%;
    margin-left: -40%;
  }

  .section-footer {
    background: lightgreen;
  }
}

